//
// About
// --------------------------------------------------
.about {
  background: $brand-primary;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;

  h3, .h3 {
    color: #fff;

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
      text-align: right;
    }
  }
}
