//
// Contact
// --------------------------------------------------
.contact {
  color: #fff;
  background: $gray-dark;
  padding-top: 50px;
  padding-bottom: 50px;

  h3, .h3 {
    color: #fff;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: none;
      transition: color 300ms ease-in;
    }
  }

  .contact-row:last-child {
    @media (max-width: $screen-md-min - 1) {
      padding-bottom: 50px;
    }
  }

  iframe {
    width: 100%;
    height: 250px;
    border: 0;
    margin-top: 15px;
  }

  .btn {
    &:hover,
    &:focus {
      transition: background-color 300ms ease-in, border 300ms ease-in;
    }
  }

  .form-group {
    margin-bottom: 10px;
  }

  .social-row {
    font-size: 40px;
    padding-top: 50px;

    a {
      display: block;
    }
  }
}
