//
// Footer
// --------------------------------------------------
.footer {
  background: $gray-darker;
  color: #fff;
  padding: 20px 0;

  a {
    color: $brand-danger;

    &:hover,
    &:focus {
      color: $gray-light;
      text-decoration: none;
      transition: color 300ms ease-in;
    }
  }
}