/*
 * Footer
 */
.footer {
  color: #fff;
  background: $gray-darker;
  padding: 20px 0;

  a {
    color: $alert-danger-bg;

    &:hover,
    &:focus {
      color: $gray-light;
      text-decoration: none;
    }
  }
}