//
// Header
// --------------------------------------------------
.header {
  padding-top: 190px;
  padding-bottom: 190px;
  text-align: center;
  background: $gray-dark url(../img/header-bg.jpg) no-repeat center center;
  width: 100%;
  background-size: cover;

  h1 {
    font-size: 80px;
  }

  h1,
  h3 {
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  }
}
