/*
 * Top Navigation Bar
 */
.navbar-default {
  background-color: #2F2F2F;

  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;

    & > li {

      & > a {
        color: #fff;
        border-bottom: 4px solid transparent;
        padding: 20px 17px 16px;

        &:hover,
        &:focus {
          color: #fff;
          border-bottom: 4px solid #f85c37;
        }
      }

      & > .dropdown-menu {
        background-color: #393939;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0;

        a {
          color: #fff;
          padding: 8px 10px;
          border-left: 4px solid transparent;

          &:hover,
          &:focus {
            background-color: #393939;
            border-left: 4px solid #f85c37;
          }

          & > i {
            padding-right: 20px;
          }
        }

        & > .active > a {
          &,
          &:hover,
          &:focus {
            color: #fff;
            background-color: #393939;
            border-left: 4px solid #f85c37;

          }
        }

        .divider {
          background-color: transparent;
          margin: 4px 0;
        }
      }

      & > a > i {
        font-size: 24px;
      }
    }

    & > .active > a {
      color: #fff;
      background-color: #393939;
      border-bottom: 4px solid #f85c37;

      &:hover,
      &:focus {
        color: #fff;
        background-color: #393939;
      }
    }

    & > .open > a,
    & > .open > a:hover,
    & > .open > a:focus {
      color: #fff;
      background-color: transparent;
    }
  }
}

.navbar-fixed-top {
  border: none;
}