//
// Resume
// --------------------------------------------------
.resume {
  padding-top: 50px;
  padding-bottom: 50px;

  &-element {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }

    &-item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      .item p {
        margin-bottom: 30px;
      }
    }
  }

  .degree {
    font-style: italic;
  }
}
