//
// Resume
// --------------------------------------------------
.resume {
  box-shadow: inset 0 -6px 12px rgba(0, 0, 0, 0.175);
  padding-top: 50px;
  padding-bottom: 50px;

  h3, .h3 {
    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
      text-align: right;
    }
  }

  &-element {
    background: darken(#fff, 1.5%);
    border: 1px solid $gray-lighter;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.175);
    margin-bottom: 45px;
    padding-top: 15px;
    padding-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &-item {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }

      .item p {
        margin-bottom: 30px;
      }
    }
  }
}
