/*
 * General
 */
body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  color: #555;
  padding-top: 60px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: 300;
  color: #333;
  text-transform: uppercase;
}

h1 {
  font-size: 80px;
}

h3 {
  font-size: 18px;
  line-height: 20px;
  margin-top: 5px;

  i {
    vertical-align: top;
  }
}

h4 {
  font-size: 16px;
  line-height: 20px;
  color: #34495e;
  font-weight: 700;
  margin-top: 5px;

  &:first-child {

  }
}

h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
}

p,
ul,
ol {
  margin-top: 15px;
  margin-bottom: 5px;

  &:first-child {
    margin-top: 5px;
  }
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

li {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }

  i {
    padding-right: 10px;
  }
}

a {
  color: #f85c37;
  word-wrap: break-word;
  transition: all 500ms ease-in;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
  }

  &:before,
  &:after {
    transition: color 0.5s ease-in, background 0.1s ease-in;
  }
}

.btn-green {
  background-color: #1abc9c;
  border-color: #1aa888;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    background-color: #1aa888;
    border-color: #1a9e7f;
  }
}

.anchor {
  position: absolute;
  margin-top: -60px;
}

.centered {
  text-align: center;
}

.italic {
  font-style: italic;
}

.white {
  color: white;
}

/*
 * Top Navigation Bar
 */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  background: #2F2F2F;
  line-height: 0;

  a {
    color: #fff;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: #f85c37;
    }
  }

  ul {
    display: inline-block;
    position: relative;
    padding: 0;
    zoom: 1;

    li {
      display: block;
      margin-top: 0;
      float: left;

      a {
        display: block;
        text-decoration: none;
        border-bottom: 4px solid transparent;
        padding: 20px 20px 16px;

        &.active {
          border-bottom: 4px solid #f85c37;
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
          color: #fff;
          background: transparent;
          border-bottom: 4px solid #f85c37;
          transition: all 300ms ease-in;
        }

        i {
          font-size: 20px;
        }
      }
    }
  }
}

/*
 * Header
 */
.header {
  background: url(../img/header-bg.jpg) no-repeat center top;
  padding-top: 190px;
  padding-bottom: 190px;
  text-align: center;
  background-color: #1abc9c;
  background-attachment: relative;
  background-position: center center;
  width: 100%;
  background-size: cover;

  h1,
  h3 {
    color: #fff;
    margin: 0;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  }
}

/*
 * About Section
 */
.about {
  background: #2c3e50;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;

  a {
    color: #1abc9c;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: #7b7b7b;
    }
  }

}

/*
 * Resume Section
 */
.resume {
  padding-top: 50px;
  padding-bottom: 50px;

  &-element {
    margin-top: 45px;

    &:first-child {
      margin-top: 0;
    }

    &-item {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }

      .item p {
        margin-bottom: 30px;
      }
    }

    //    .item p {
    //      margin-top: 20px;
    //    }
  }

  a {
    color: #1abc9c;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: #7b7b7b;
    }
  }

  .degree {
    font-style: italic;
  }
}

/*
 * Contact Section
 */
.contact {
  background: #2F2F2F;
  padding-top: 50px;
  padding-bottom: 50px;

  a {
    color: #1abc9c;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: #7b7b7b;
    }
  }

  iframe {
    width: 100%;
    height: 300px;
    border: 0;
  }

  form {
    //    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .social {
    font-size: 40px;
    padding-top: 50px;
    transition: all 500ms ease-in;

    a {
      margin: 0 25px;
    }

  }
}

/*
 * Top Navigation Bar
 */
.footer {
  background: #222;

  p {
    color: #fff;
    margin: 0;
    padding: 20px 0;
  }
}