/*
 * General
 */
body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  color: #555;
  padding-top: 60px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  font-weight: 300;
  text-transform: uppercase;
  color: #333;
}

a {
  color: #f85c37;
  word-wrap: break-word;
  transition: all 500ms ease-in;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
  }

  &:before,
  &:after {
    transition: color 0.5s ease-in, background 0.1s ease-in;
  }
}

.btn-green {
  background-color: #1abc9c;
  border-color: #1aa888;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    background-color: #1aa888;
    border-color: #1a9e7f;
  }
}

.anchor {
  position: absolute;
  margin-top: -60px;
}

/*
 * Top Navigation Bar
 */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  background: #2F2F2F;
  line-height: 0;
  text-align: center;

  a {
    color: #fff;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: #f85c37;
    }
  }

  ul {
    display: inline-block;
    position: relative;
    padding: 0;
    zoom: 1;

    li {
      display: block;
      float: left;

      a {
        display: block;
        text-decoration: none;
        border-bottom: 4px solid transparent;
        padding: 20px 20px 16px;

        &.active {
          border-bottom: 4px solid #f85c37;
        }

        &:hover,
        &:focus,
        &:active,
        &.active {
          color: #fff;
          background: transparent;
          border-bottom: 4px solid #f85c37;
          transition: all 300ms ease-in;
        }

        i {
          font-size: 20px;
        }
      }
    }
  }
}

/*
 * Contact Section
 */
.contact {
  background: #2F2F2F;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;

  h4 {
    color: #fff;
    margin-top: 17px;

    i {
      vertical-align: top;
    }
  }

  ul,
  ol {
    color: #fff;
    margin-top: 17px;
    padding-left: 0;
    list-style: none;

    li {
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }

      i {
//        font-size: 10px;
        padding-right: 10px;
      }
    }
  }

  a {
    color: #1abc9c;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: #7b7b7b;
    }
  }

  iframe {
    width: 100%;
    height: 300px;
    border: 0;
  }

  form {
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .social {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    transition: all 500ms ease-in;

    a {
      margin: 0 25px;
    }

  }
}

/*
 * Top Navigation Bar
 */
.footer {
  background: #222;
  text-align: center;

  p {
    color: #fff;
    margin: 0;
    padding: 20px 0;
  }
}