/*
 * General
 */
body {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  color: #555;
  padding-top: 60px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch; }

a {
  color: #f85c37;
  word-wrap: break-word;
  -webkit-transition: all 500ms ease-in;
       -o-transition: all 500ms ease-in;
          transition: all 500ms ease-in; }
  a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0; }
  a:before, a:after {
    -webkit-transition: color 0.5s ease-in, background 0.1s ease-in;
         -o-transition: color 0.5s ease-in, background 0.1s ease-in;
            transition: color 0.5s ease-in, background 0.1s ease-in; }

/*
 * Top Navigation Bar
 */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  background: #2F2F2F;
  line-height: 0;
  text-align: center; }
  .topbar a {
    color: #fff; }
    .topbar a:hover, .topbar a:focus, .topbar a:active {
      color: #f85c37; }
  .topbar ul {
    display: inline-block;
    position: relative;
    padding: 0;
    zoom: 1; }
    .topbar ul li {
      display: block;
      float: left; }
      .topbar ul li a {
        display: block;
        text-decoration: none;
        border-bottom: 4px solid transparent;
        padding: 20px 20px 16px; }
        .topbar ul li a.active {
          border-bottom: 4px solid #f85c37; }
        .topbar ul li a:hover, .topbar ul li a:focus, .topbar ul li a:active {
          color: #fff;
          background: transparent;
          border-bottom: 4px solid #f85c37;
          -webkit-transition: all 300ms ease-in;
               -o-transition: all 300ms ease-in;
                  transition: all 300ms ease-in; }
        .topbar ul li a i {
          font-size: 20px; }

/*
 * Top Navigation Bar
 */
.footer {
  background: #222;
  text-align: center; }
  .footer p {
    color: #fff;
    margin: 0;
    padding: 20px 0; }
